.center {
    display: flex;
    justify-content: center;
}

.center-input {
    padding-top: 50%;
    margin: auto;
}

.margin {
    margin: 0 5% 0 5%;
}

.margin-all {
    margin: auto;
}

.border {
    border: solid 2px white;
    border-radius: 5%;
    margin: 1%;
}